# 4.6 Merging and exporting data

## This script includes the following points:

### 1.Import the Data

### 2. Check Output of Data

### 3. Merge dataframes df_ords and df_ords_prior

In [57]:
# Import libraries 
import pandas as pd 
import numpy as np 
import os

### 1. Import Data

In [58]:
path = r'/Users/nurgul/Instacart Basket Analysis'

In [59]:
# Imported Data set orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col=False)

In [60]:
# Imported Data set orders_checked.csv
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col=False)

### 2. Check Output of DataÂ¶

In [61]:
# Check the output 
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [62]:
df_ords = df_ords.drop(columns = ['eval_set'])

In [63]:
df_ords= df_ords.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [64]:
# Check the output 
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [65]:
df_ords_prior.shape

(32434489, 4)

In [66]:
df_ords.shape

(3421083, 6)

### 3. Merge dataframes df_ords and df_ords_prior

In [67]:
#Merge df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [68]:
#Check output of merged dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [75]:
df_merged_large.shape

(32434489, 10)

In [69]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [74]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# 5. Export Customer File to PKL