# 4.6 Merging and exporting data

## This script includes the following points:

### 1. Import the Data

### 2. Check Output of the Data

### 3. Merge dataframes df_prods and df_ords_prods_combined

### 4. Confirm the results of the merge using the merge flag

### 5. Export the file

In [1]:
# Import libraries 
import pandas as pd 
import numpy as np 
import os

### 1. Import the Data

In [2]:
path = r'/Users/nurgul/Instacart Basket Analysis'

In [5]:
# Imported Data set products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=False)

In [8]:
# Imported Data set orders_ptoducts_combined.csv
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### 2. Check Output of the Data

In [12]:
# Check the output
df_prods= df_prods.drop(columns=['Unnamed: 0'])

In [13]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
df_prods.shape

(49672, 5)

In [16]:
# Check the output
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [17]:
df_ords_prods_combined.shape

(32434489, 10)

### 3. Merge dataframes df_prods and df_ords_prods_combined

In [25]:
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on='product_id', indicator='merge_indicator')

### 4. Confirm the results of the merge using the merge flag

In [27]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,both

In [28]:
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [29]:
df_ords_prods_merge.shape

(32404859, 15)

### 5. Export the file

In [30]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))